/*----------mini-reset----------*/
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

body {
  max-width: 1500px;
  margin: 0 auto;
}

.btn {
  border: none;
  border-radius: 30px;
  padding: 15px 20px;
  color: #ffffff;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  margin-top: 15px;
  margin-bottom: 50px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 2px #d4d3d3;
}

header {
  height: 65px;
}

/*.header_logo{
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 1px 5px $color-ombre;
}*/
header img {
  width: 45%;
  display: block;
  margin: auto;
  padding-top: 5%;
}

.basdepage {
  background-color: rgb(77, 76, 76);
  color: #ffffff;
}

.basdepage h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 200;
  margin-top: 0;
  margin-left: 20px;
  padding-top: 20px;
}

.basdepage__liste {
  margin-left: 20px;
  font-size: 95%;
  padding-bottom: 30px;
}

.basdepage__liste li {
  display: flex;
  margin-bottom: 10px;
}

.basdepage__liste .fa-solid.fa-utensils {
  font-size: 90%;
  padding-right: 12px;
  display: block;
}

.basdepage__liste .fa-solid.fa-handshake-angle {
  font-size: 74%;
  padding-right: 10px;
  display: block;
}

.formulaire {
  background-color: #eaeaea;
  text-align: center;
  box-shadow: inset 0px 3px 1px #d4d3d3;
}
.formulaire__localisation {
  margin: 0;
  padding: 4%;
}
.formulaire__search {
  background-color: #eaeaea;
  width: 170px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: rgb(77, 76, 76);
  padding-left: 20px;
}

.presentation {
  background-color: #f2f2f2;
  text-align: center;
}
.presentation__titre {
  margin-top: 0;
  padding: 35px 50px 0px 50px;
}
.presentation__texte {
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 300;
  font-size: 110%;
  color: rgb(77, 76, 76);
}

.fonction__titre {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 20px;
}
.fonction__contenu {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  height: 70px;
  margin: 10px 20px 30px 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 2px #d4d3d3;
}
.fonction__contenu:hover {
  background-color: #f2eafb;
}

.fonction__contenu span {
  background-color: #9356dc;
  color: #ffffff;
  font-size: 90%;
  padding: 3px 7px;
  border-radius: 15px;
  margin-left: -10px;
}

.fonction__contenu i {
  color: #737272;
  font-size: 110%;
  padding-left: 20px;
}

.fonction__contenu p {
  font-weight: 500;
  padding-left: 20px;
}

.restaurants {
  background-color: #f2f2f2;
  padding-bottom: 50px;
}
.restaurants__titre {
  margin-top: 70px;
  margin-bottom: 5px;
  margin-left: 20px;
  padding-top: 50px;
}

.restaurants__article {
  width: 90%;
  height: 260px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 0px 4px 4px 2px #d4d3d3;
}

.restaurants__image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.restaurants__image span {
  background-color: #99e2d0;
  color: #278870;
  padding: 5px 10px;
  font-size: 90%;
  font-weight: 500;
  border-radius: 2px;
  position: absolute;
  bottom: 15px;
  left: 265px;
}

.restaurants__contenu {
  display: flex;
  justify-content: space-between;
}

.restaurants__texte {
  margin-left: 12px;
}

.restaurants__contenu h3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.restaurants__contenu p {
  margin-top: 5px;
  font-weight: 300;
  font-size: 105%;
}

.restaurants__picto i {
  font-size: 150%;
  margin-right: 30px;
  margin-top: 15px;
}

/*# sourceMappingURL=style.css.map */
