/*----------mini-reset----------*/
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

body {
  max-width: 1500px;
  margin: 0 auto;
}

.btn {
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  color: #ffffff;
  display: inline-block;
  width: 220px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
  box-shadow: 0px 5px 10px #d4d3d3;
}
.btn:hover {
  background: linear-gradient(to bottom right, #ff93e1, #c9abee);
  box-shadow: 0px 5px 10px #737272;
}

.commande {
  text-align: center;
}

.loader {
  position: fixed;
  background-color: white;
  opacity: 0.97;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  animation: load 0.2s 3s ease-in-out forwards;
}

@keyframes load {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.loader p {
  position: absolute;
  font-family: "Shrikhand", cursive;
}

.loader__spinner {
  border: 15px dotted #f2f2f2;
  border-top: 15px dotted #9356dc;
  border-right: 15px dotted #ff79da;
  border-bottom: 15px dotted #99e2d0;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 3000ms ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  min-height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

header img {
  max-width: 45%;
}

header i {
  font-size: 130%;
  position: absolute;
  left: 30px;
  bottom: 22px;
}
header i:hover {
  color: #9356dc;
}

.basdepage {
  background-color: rgb(52, 52, 52);
}
.basdepage > h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 200;
  margin-top: 0;
  margin-left: 20px;
  padding-top: 20px;
  color: #ffffff;
}

.basdepage__liste {
  margin-left: 20px;
  font-size: 95%;
  padding-bottom: 30px;
}
@media screen and (min-width: 993px) {
  .basdepage__liste {
    display: flex;
    justify-content: space-around;
  }
}

.basdepage__liste li {
  padding-bottom: 10px;
}
.basdepage__liste li > a {
  color: #ffffff;
}
.basdepage__liste li > a:hover {
  color: #9356dc;
}

.basdepage__liste .fa-solid.fa-utensils {
  font-size: 90%;
  padding-right: 12px;
}

.basdepage__liste .fa-solid.fa-handshake-angle {
  font-size: 74%;
  padding-right: 10px;
}

.formulaire {
  background-color: #eaeaea;
  text-align: center;
  box-shadow: inset 0px 3px 1px #d4d3d3;
}
.formulaire__localisation {
  margin: 0;
  padding: 15px;
}
.formulaire__search {
  background-color: #eaeaea;
  width: 170px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: rgb(77, 76, 76);
  padding-left: 20px;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .formulaire__search {
    font-size: 110%;
  }
}
@media screen and (min-width: 993px) {
  .formulaire__search {
    font-size: 110%;
  }
}

.image-fond img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

/*en-tete page des restaurants*/
.menu {
  background-color: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -50px;
  position: relative;
  border-radius: 40px 40px 0 0;
}

.menu__titre {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.menu__titre h1 {
  font-family: "Shrikhand", cursive;
  font-size: 175%;
  font-weight: 300;
  margin-left: 4%;
  margin-bottom: 10px;
}

/*bloc repas comprenant entrees plats desserts*/
@media screen and (min-width: 993px) {
  .repas {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 993px) {
  .repas > .repas__contenu {
    width: 32%;
  }
}

.card__titre {
  font-size: 100%;
  font-weight: 300;
  text-transform: uppercase;
  margin-left: 4%;
  margin-top: 30px;
  margin-bottom: 10px;
}
.card__titre::after { /*barre verte sous le titre*/
  content: "";
  display: block;
  background-color: #99e2d0;
  width: 40px;
  height: 3px;
  margin-top: 3px;
}

.menu__conteneur article {
  opacity: 0;
}
.menu__conteneur article:nth-child(1) {
  animation: arrival-cards 1s 0.2s ease-in-out forwards;
}
.menu__conteneur article:nth-child(2) {
  animation: arrival-cards 1s 0.4s ease-in-out forwards;
}
.menu__conteneur article:nth-child(3) {
  animation: arrival-cards 1s 0.6s ease-in-out forwards;
}
.menu__conteneur article:nth-child(4) {
  animation: arrival-cards 1s 0.8s ease-in-out forwards;
}

@keyframes arrival-cards {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(5px);
    opacity: 1;
  }
}
.menu__card {
  background-color: #ffffff;
  border-radius: 15px;
  width: 94%;
  min-height: 70px;
  margin: 0 auto;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 5px 10px #d4d3d3;
}
.menu__card:hover > .menu__texte {
  width: 82%;
  transition: all 300ms ease-in-out;
}
.menu__card:hover .menu__element p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card:hover > .menu__check--animation {
  background-color: #99e2d0;
  width: 17%;
  transform: translate(1px);
  transition: all 300ms ease-in-out;
}
.menu__card:hover > .menu__check--animation i {
  color: #ffffff;
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: rotate(360deg);
  transition: transform 300ms ease-in-out;
}

.menu__check {
  width: 0%;
  transform: translate(0px);
}
.menu__check i {
  width: 0%;
  transform: rotate(0);
}

.menu__card h4 {
  font-size: 110%;
  font-weight: 500;
  margin: 0;
  padding-top: 12px;
  margin-left: 12px;
  margin-bottom: 5px;
}

.menu__texte {
  width: 96%;
}

.menu__element {
  display: flex;
  justify-content: space-between;
}

.menu__element p {
  font-size: 95%;
  font-weight: 300;
  margin-top: 0px;
  margin-left: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__element span {
  font-size: 95%;
  font-weight: 500;
  padding-left: 5px;
  padding-right: 15px;
}

.presentation {
  background-color: #f2f2f2;
  text-align: center;
}
.presentation__titre {
  margin-top: 0;
  padding: 35px 50px 0px 50px;
}
.presentation__texte {
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 300;
  font-size: 110%;
  margin-bottom: 5px;
  color: rgb(77, 76, 76);
}

.fonction__titre {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 20px;
}
@media screen and (min-width: 993px) {
  .fonction__titre {
    margin-left: 2.5%;
  }
}
.fonction__contenu {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  height: 70px;
  margin: 10px 20px 30px 30px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px #d4d3d3;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .fonction__contenu {
    width: 30%;
  }
}
@media screen and (min-width: 993px) {
  .fonction__contenu {
    width: 30%;
  }
}
.fonction__contenu:hover {
  background-color: #efe6fa;
}
.fonction__contenu:hover i {
  color: #9356dc;
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .fonction__container {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 993px) {
  .fonction__container {
    display: flex;
    justify-content: space-around;
  }
}

.fonction__contenu span {
  background-color: #9356dc;
  color: #ffffff;
  font-size: 90%;
  padding: 3px 7px;
  border-radius: 15px;
  margin-left: -10px;
}

.fonction__contenu i {
  color: #737272;
  font-size: 110%;
  padding-left: 20px;
}

.fonction__contenu p {
  font-weight: 500;
  padding-left: 20px;
}

.restaurant {
  background-color: #f2f2f2;
  padding-bottom: 50px;
}
.restaurant__titre {
  margin-top: 70px;
  margin-bottom: 5px;
  margin-left: 20px;
  padding-top: 50px;
}
@media screen and (min-width: 993px) {
  .restaurant__titre {
    margin-left: 2.5%;
  }
}
.restaurant__article {
  width: 90%;
  height: 260px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 15px;
  margin-top: 20px;
  position: relative;
  box-shadow: 0px 5px 10px #d4d3d3;
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .restaurant__container {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 993px) {
  .restaurant__container {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .restaurant__container > a {
    width: 50%;
  }
}
@media screen and (min-width: 993px) {
  .restaurant__container > a {
    width: 50%;
  }
}

.restaurant__image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.nouveau {
  background-color: #99e2d0;
  color: #278870;
  height: 28px;
  width: 78px;
  font-size: 90%;
  font-weight: 500;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 10px;
}

.restaurant__contenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant__texte {
  margin-left: 12px;
}

.restaurant__contenu h3 {
  margin-top: 12px;
  margin-bottom: 0;
}

.restaurant__contenu p {
  margin-top: 5px;
  font-weight: 300;
  font-size: 105%;
}

.restaurant__picto i {
  font-size: 150%;
  margin-right: 40px;
}

.restaurant__picto .fa-regular.fa-heart {
  position: absolute;
  z-index: 2;
  opacity: 1;
}
.restaurant__picto .fa-regular.fa-heart:hover {
  opacity: 0;
  transition: all 400ms ease-in-out;
}
.restaurant__picto .fa-regular.fa-heart:hover + .fa-solid.fa-heart {
  height: 24px;
  width: 100%;
  transition: all 500ms ease-in-out;
}

.restaurant__picto .fa-solid.fa-heart {
  position: relative;
  background: linear-gradient(to top, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  height: 0px;
  width: 0%;
}

/*# sourceMappingURL=style.css.map */
