@import "./utils/variables";
@import "./utils/mixins";
@import "./base/base";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/form";
@import "./pages/accueil";


.fonction_titre{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.fonction_container{
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    /*width: 85%;*/
    height: 70px;
    margin: 10px 20px 30px 30px;
    /*padding-top: 15px;
    padding-bottom: 10px;*/
    border-radius: 20px;
        @include bloc-shadow;
    

}

.fonction_container span{
    background-color: $color-primary;
    color: $color-white;
    font-size: 90%;
    padding: 3px 7px;
    border-radius: 15px;
    margin-left: -10px;
}

.fonction_container i{
    color:rgb(77, 76, 76);
    font-size: 120%;
    padding-left: 20px;
}

.fonction_container p{
    font-weight: 500;
    padding-left: 20px;
}