.btn {
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    color: $color-white;
    display: inline-block;
    width: 220px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
        @include bloc-shadow;

        &:hover {
            background: linear-gradient(to bottom right, $color-lightsecondary, $color-lightprimary20);
                @include darkbloc-shadow;
        }    
}

.commande {
    text-align: center;
}