.btn {
    cursor: pointer;
    border: none;
    border-radius: 30px;
    padding: 15px 20px;
    color: $color-white;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    margin-top: 15px;
    margin-bottom: 50px;
        @include bloc-shadow;

        &:hover {
            background: linear-gradient(to bottom right, $color-lightsecondary, $color-lightprimary20);
                @include darkbloc-shadow;
        }        
}