.presentation{
    background-color: #f2f2f2;
    text-align: center;
    .presentation_titre{
        margin-top: 0;
        padding: 35px 50px 0px 50px;
    }
    .presentation_texte{
        padding-left: 25px;
        padding-right: 25px;
        font-weight: 300;
        font-size: 110%;
        color:rgb(77, 76, 76);
    }
}
