//partie présentation
.presentation{
    background-color: #f2f2f2;
    text-align: center;
    &__titre{
        margin-top: 0;
        padding: 35px 50px 0px 50px;
    }
    &__texte{
        padding-left: 25px;
        padding-right: 25px;
        font-weight: 300;
        font-size: 110%;
        color:rgb(77, 76, 76);
    }
}


//partie fonctionnement
.fonction {
    &__titre {
        margin-top: 50px;
        margin-bottom: 30px;
        margin-left: 20px;
    }

    &__contenu {
        display: flex;
        align-items: center;
        background-color: #f2f2f2;
        height: 70px;
        margin: 10px 20px 30px 30px;
        border-radius: 20px;
        &:hover{
            background-color: $color-lightprimary;
        }
            @include bloc-shadow;

    }
}

.fonction__contenu span{
    background-color: $color-primary;
    color: $color-white;
    font-size: 90%;
    padding: 3px 7px;
    border-radius: 15px;
    margin-left: -10px;
}

.fonction__contenu i{
    color: #737272;
    font-size: 110%;
    padding-left: 20px;
   
}

.fonction__contenu p{
    font-weight: 500;
    padding-left: 20px;
}


//partie restaurants
.restaurants {
    background-color: #f2f2f2;
    padding-bottom: 50px;
    &__titre{
        margin-top: 70px;
        margin-bottom: 5px;
        margin-left: 20px;
        padding-top : 50px;
    }
}

.restaurants__article {
    width: 90%;
    height: 260px;
    margin: 0 auto;
    background-color: $color-white;
    border-radius: 15px;
    margin-top: 20px;
        @include bloc-shadow;
}

.restaurants__image img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.restaurants__image span {
    background-color: $color-tertiary;
    color: $color-dark-tertiary;
    padding: 5px 10px;
    font-size: 90%;
    font-weight: 500;
    border-radius: 2px;
    position: absolute;
    bottom: 15px;
    left: 265px;
}

.restaurants__contenu{
    display: flex;
    justify-content: space-between;
}

.restaurants__texte{
    margin-left: 12px;
}

.restaurants__contenu h3 {
    margin-top: 10px;
    margin-bottom: 0;
}

.restaurants__contenu p{
    margin-top: 5px;
    font-weight: 300;
    font-size: 105%;
    
}

.restaurants__picto i{
    font-size: 150%;
    margin-right: 30px;
    margin-top: 15px;
}