$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-white: #ffffff;
$color-ombre: #d4d3d3;
$color-lightprimary: lighten($color-primary,35%);
$color-dark-tertiary: darken($color-tertiary,40%);