// Footer
.basdepage {
    background-color: rgb(52, 52, 52);
        > h3 {
            font-family: 'Shrikhand', cursive;
            font-weight: 200;
            margin-top: 0;
            margin-left: 20px;
            padding-top: 20px;
            color: $color-white;
        }
}

.basdepage__liste {
    margin-left: 20px;
    font-size: 95%;
    padding-bottom: 30px;
    @include desktop {
        display: flex;
        justify-content: space-around;
    }
}

.basdepage__liste li {
    padding-bottom: 10px;
        > a {
            color: $color-white;

            &:hover {
                color: $color-primary;
            }
        }
}

.basdepage__liste .fa-solid.fa-utensils {
    font-size: 90%;
    padding-right: 12px;
}

.basdepage__liste .fa-solid.fa-handshake-angle {
    font-size: 74%;
    padding-right: 10px;
}