header {
    min-height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header img {
    max-width: 45%;
}

header i {
    font-size: 130%;
    position: absolute;
    left: 30px;
    bottom: 22px;

    &:hover {
        color: $color-primary;
    }
}