.formulaire{
    background-color: #eaeaea;
    color: #353535;
    text-align: center;
    box-shadow: inset 0px 3px 1px #d4d3d3;
    
    .formulaire_localisation{
        margin: 0;
        padding: 4%;
    }
    .formulaire_search{
        background-color: #eaeaea;
        width: 170px;
        border: none; 
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: rgb(77, 76, 76);
        padding-left: 20px;
    }
}
